.navigation {
    font-size: 16px;
}

.navigation nav.navbar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: right;
    padding-right: 15px;
	position: relative;
    top:0;
	width: 100%;
	height: 4em;
	background-color: #C34D4D;
	/* -webkit-box-shadow: 0px 0.1em 1em 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0.1em 1em 0px rgba(0, 0, 0, 0.75); */
	z-index: 11;

    border-bottom: 1px black solid;
}

.navigation nav.navbar > ul {
    height: inherit;
    width: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation nav.navbar > .links > li {

    margin-right: 3.6em;
    padding: 0.4em 0;
    color: #d4d4dc;

}

.navigation nav.navbar > .links > li:last-child {
    margin-right: 0;
}

.navigation nav.navbar > .links > li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.navigation nav.navbar > .links > li span {
    font-size: 1.2em;
    
}

.navigation nav.navbar > .links > li:not(.active):hover a {
    color: #ffffffBA;
    text-decoration: underline;
}

.navigation nav.navbar > .links > li.active a {
    text-decoration: underline;
    font-weight: 800;
}

